.logout-container {
    border: solid;
    border-color: black;
    border-radius: 10pt;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 150px;
    text-align: center;
    border-color: #2a2e39;
    background-color: #E3F0FF;
    border-width: 2px;
    font-family: Rowdies;
}

.logout-button {
    margin-bottom: 15px;
}