/* ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }
  
  li.nav-item {
    float: left;
  }
  
  li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li.nav-item a:hover {
    background-color: #2a2e39;
  } */

  ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    display: flex; /* Use flexbox */
    width: 100%; /* Take up the full width of the page */
    height: 150px;
}

li.nav-item {
    flex: 1; /* Distribute available space equally among the list items */
}

li.nav-item a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 100px;
}

li.nav-item a:hover {
    background-color: #2a2e39;
}

.logo {
    padding: 20px;
}
