#searchPage{
    text-align: center;
    background-color: #5c5d5b;
    color: #d5d2d0;
    display: flex;
    flex-direction: column;
   
}
input{
    text-align: left;
}
h1{
    margin: 0;
}
#bookCardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#loadingCircle{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  
}
#searchForm{
    background-color: #E3F0FF;
    align-self: center;
    color: #b47548;
    border: 2pt solid black;
}
/* #d5d2d0
#2a2e39
#b47548
#5c5d5b 
#E3F0FF*/