.page-container {

    background-color: #5c5d5b;
    height: 100%
}

.page-item {
    border: solid;
    border-color: #2a2e39;
    border-width: 2px;
    border-radius: 10pt;
    margin: 20px;
    background-color: #E3F0FF;
    
}

.feature {
    margin: 15px;
  
}

.welcome {
    text-align: center;
    font-family: 'Rowdies';

}

.feature-text {
    margin: 10px;
    font-family: 'Alegreya SC';
    padding: 20pt;
    font-size: 20px;
    margin-bottom: 10pt;
}

.start-here-container {
    display: flex;
    justify-content: space-around;
    font-family: 'Rowdies';
 
}

.start-here-item {
    border: solid;
    border-color: #2a2e39;
    width: 450px;
    border-radius: 10pt;
    border-width: 2px;
    background-color: #E3F0FF;
    margin: 20px;
    text-align: center;
    padding: 10px
}

.welcome-user {
    margin-top: 50pt;
    font-size: 30px;

}

#signup-butt {
    margin-top: 20pt;
}

.icon-ref {
    text-align: center;
}



/* b47548 */