.othersPage {
    background-color: #5c5d5b;
    font-family: "Alegreya SC"
  }
  .otherTitle {
    text-align: center;
    font-weight: bold;
  }
  .otherHeaderContainer {
    display: flex;
    justify-content: space-around;
  
  }
  .totalPages {
    align-self: flex-start;
    padding: 10px;
    border: 2px solid #2a2e39;
    text-align: center;
    font-weight: bold;
    min-width: 300px;
    min-height: 100px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
  }
  .othersRecommended {
    align-self: flex-end;
    padding: 10px;
    border: 2px solid #2a2e39;
    text-align: center;
    font-weight: bold;
    min-width: 300px;
    min-height: 100px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
    overflow-y: auto;
    
}
.othersBottomContainer {
    display: flex;
    flex-direction: column;
    
}
.completedAndTbr{
  display: flex;
  flex-direction: row;
}
  .bookListBlock {
    width: 50%;   
    padding: 10px;
    border: 2px solid #2a2e39;
    margin-bottom: 20px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
    text-align: center;
  }
.othersClubsBlock{
   
    padding: 10px;
    border: 2px solid #2a2e39;
    margin-bottom: 20px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
    text-align: center;
}
