.othersPage {
    background-color: #5c5d5b;
    font-family: "Alegreya SC"
  }
  .otherTitle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    border: 2px solid #2a2e39;
    border-radius: 15px;
    width:30%;
    margin-top: 10pt ;
    background-color: #E3F0FF;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Rowdies';
  }
  .otherHeaderContainer {
    display: flex;
    justify-content: space-around;
  
  }
  .totalPages {
    align-self: flex-start;
    padding: 10px;
    border: 2px solid #2a2e39;
    text-align: center;
    font-weight: bold;
    min-width: 300px;
    height: 161px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
  }
  .othersRecommended {
    align-self: flex-end;
    padding: 10px;
    border: 2px solid #2a2e39;
    text-align: center;
    font-weight: bold;
    min-width: 300px;
    min-height: 161px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
    overflow-y: auto;
    
}
.othersScroll {
  max-height: 100px;
  width: 300px;
  overflow: auto;
  /* border: 1px solid; */
}
.othersBottomContainer {
    display: flex;
    flex-direction: column;
    
}
.completedAndTbr{
  display: flex;
  flex-direction: row;
}
  .bookListBlock {
    width: 50%;   
    padding: 10px;
    border: 2px solid #2a2e39;
    margin-bottom: 20px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
    text-align: center;
  }
.othersClubsBlock{
   
    padding: 10px;
    border: 2px solid #2a2e39;
    margin-bottom: 20px;
    border-radius: 15px;
    margin: 10px;
    background-color: #E3F0FF;
    text-align: center;
}
.othersCompleted{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.othersCompleted:hover {
  transform: translateY(-5px);
  cursor: pointer;
  font-weight: bolder;
}
.othersBookClubs:hover{
  transform: translateY(-5px);
  cursor: pointer;
  font-weight: bolder;
}