/* .container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
} */

.profileTitle {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  /* color:  */
}

.headerContainer {
  display: flex;
  justify-content: space-around;

}

.totalPages {
  align-self: flex-start;
  padding: 10px;
  border: 5px solid #b47548;
  text-align: center;
  font-weight: bold;
  width: 300px;
  height: 100px;
  border-radius: 15px;
  margin: 10px;
  background-color: #E3F0FF;
}

.recommended {
  align-self: flex-end;
  padding: 10px;
  border: 5px solid #b47548;
  text-align: center;
  font-weight: bold;
  /* width: 300px;
  height: 100px; */
  border-radius: 15px;
  margin: 10px;
  background-color: #E3F0FF;
}

.bottomContainer {
  display: flex;
  flex-direction: column;

}

.completed {
  align-self: flex-start;
  padding: 10px;
  border: 5px solid #b47548;
  margin-bottom: 20px;
  /* width: 90%; */
  font-weight: bold;
  border-radius: 15px;
  margin: 10px;
  background-color: #E3F0FF;
  text-align: center;
}

.book-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}


.tbr {
  align-self: flex-start;
  padding: 10px;
  border: 5px solid #b47548;
  font-weight: bold;
  /* width: 90%; */
  border-radius: 15px;
  margin: 10px;
  background-color: #E3F0FF;
  text-align: center;
}

.tbr div {
  /* height: 40px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}





/* .feature {
  align-self: flex-start
} */